version: '2.4'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.15.2
    networks:
      - default
    container_name: "elasticsearch_engine"
    mem_limit: ${mem}m # used for testing with limited capabilities, e.g. RAM capped at 256MB
    cpuset: "${cpuset}" # used for testing with limited capabilities, e.g. single physical core
    privileged: true # we give containers all privileges since otherwise (as previous tests showed) in-docker and on-host performances can differe significantly
    mem_swappiness: 0 # we disable swappiness since it can lower test results quality
    ulimits:
      memlock: # as recommended on https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_disable_swapping
        soft: -1
        hard: -1
      nproc: 65535 # as recommended on https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_increase_ulimits_for_nofile_and_nproc
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "127.0.0.1:9200:9200"
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true # as said on https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_disable_swapping it needs to be done for performance
    volumes:
      - ./tests/${test}/es/idx${suffix}:/usr/share/elasticsearch/data
      - ./tests/${test}/es/elasticsearch${suffix}.yml:/usr/share/elasticsearch/config/elasticsearch.yml

  clickhouse:
    image: yandex/clickhouse-server:21.8.11.4
    networks:
      - default
    container_name: "clickhouse_engine"
    mem_limit: ${mem}m
    cpuset: "${cpuset}"
    privileged: true
    mem_swappiness: 0
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "127.0.0.1:8123:8123"
      - "127.0.0.1:9000:9000"
    volumes:
      - ./tests/${test}/ch/data${suffix}:/var/lib/clickhouse

  mysql:
    image: mysql:8.0.28
    networks:
      - default
    container_name: "mysql_engine"
    mem_limit: ${mem}m
    cpuset: "${cpuset}"
    privileged: true
    mem_swappiness: 0
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - ./tests/${test}/mysql/data${suffix}:/var/lib/mysql
      - ./tests/${test}/data:/input
    command: --secure-file-priv="/input/" --innodb-ft-min-token-size=1
    environment:
      - MYSQL_DATABASE=default
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_ROOT_PASSWORD=

  mysql_percona:
    image: percona:8.0.28-19
    networks:
      - default
    container_name: "mysql_percona_engine"
    mem_limit: ${mem}m
    cpuset: "${cpuset}"
    privileged: true
    mem_swappiness: 0
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - ./tests/${test}/mysql_percona/data${suffix}:/var/lib/mysql
      - ./tests/${test}/data:/input
    command: --secure-file-priv="/input/" --innodb-ft-min-token-size=1
    environment:
      - MYSQL_DATABASE=default
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_ROOT_PASSWORD=

  manticoresearch:
    image: manticoresearch/manticore:6.0.2-extra
    networks:
      - default
    container_name: "manticoresearch_engine"
    mem_limit: ${mem}m
    cpuset: "${cpuset}"
    privileged: true
    mem_swappiness: 0
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "127.0.0.1:9306:9306"
      - "127.0.0.1:9308:9308"
    environment:
      - EXTRA=1
    volumes:
      - ./tests/${test}/manticore/idx${suffix}:/var/lib/manticore
      - ./tests/${test}/data:/input
      - ./tests/${test}/manticore/manticore${suffix}.conf:/etc/manticoresearch/manticore.conf

  postgres:
    image: postgres:15.2
    networks:
      - default
    container_name: "postgres_engine"
    mem_limit: ${mem}m
    cpuset: "${cpuset}"
    privileged: true
    mem_swappiness: 0
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./tests/${test}/postgres/data${suffix}:/var/lib/postgresql/data
      - ./tests/${test}/data:/input
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=default

  meilisearch:
    image: getmeili/meilisearch:v1.1.1
    networks:
      - default
    container_name: "meilisearch_engine"
    mem_limit: ${mem}m
    cpuset: "${cpuset}"
    privileged: true
    mem_swappiness: 0
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "127.0.0.1:7700:7700"
    volumes:
      - ./tests/${test}/meilisearch/data${suffix}:/meili_data:rw
      - ./tests/${test}/data:/input
    entrypoint: ["meilisearch"]
    command:
      - --http-addr
      - 0.0.0.0:7700
      - --env
      - development
      - --no-analytics
      - --max-indexing-memory=2Gb
      - --max-indexing-threads=24
networks:
  default:
    driver: bridge